<div class="jumbotron mt-4 text-center">
    <h1 class="diplay-4">Sobre este proyecto</h1>
    <section class="card">
        <div class="card-body">
            <h2>Author: Guillermo Calderon Musi</h2>
            <h3>REST API</h3>
            <h4>&copy; 2021</h4>
            <div class="technologies d-flex justify-content-between align-items-center">
                <div><img src="/img/nodejs.png" alt="NodeJS" width="100px"></div>
                <div><img src="/img/mongodb.png" alt="MongoDB" width="100px"></div>
                <div><img src="/img/passport.png" alt="PassportJS" width="80px"></div>
                <div><img src="/img/handlebars.svg" alt="Handlebars" width="100px"></div>
            </div>
        </div>
    </section>
</div>